In [457]:
# VARIABLES GLOBALES
# league_id='1279'
# season_id='1797'

In [458]:
#FUNCIONALIDADES (IBRERIAS Y PAQUETES)
# Base
import pandas as pd
import numpy as np
import os
from ast import literal_eval
import os
import glob

import smtplib # mails

# trabajo con variables abocadas al tiempo
import sys
import time
from datetime import datetime
from datetime import datetime as dt
from termcolor import colored

# Expresiones regulares
import re

# llamada a la API
import json
import requests
from pandas import json_normalize

# Configuraci贸n
import warnings
warnings.filterwarnings("ignore")
warnings.simplefilter(action='ignore', category=FutureWarning)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

def get_time(cond):
    if cond == "start":
        p = "Este proceso comenz贸 en "
    elif cond == "end":
        p = "Este proceso finaliz贸 en "
    print("")
    print(colored(p + str(datetime.now().strftime("%H:%M:%S")), "green", "on_white", attrs=["bold",'reverse', 'blink']))

#FUNCION QUE ANTE UNA PETICION DE API ME DEVUELVE UN JSON
def getResults(url,params_json={},data_json={}):
    response_data=''
    try:
        str_url = URL_API_BASE + url
        headersAPI = {'accept': 'application/json','Authorization': 'Bearer '+ API_KEY}

        if data_json != {} and params_json!={}:
          response=requests.get(str_url,headers=headersAPI,params=params_json,data=data_json)
          response_data=response.json()
        elif data_json != {}:
          response=requests.get(str_url,headers=headersAPI,data=data_json)
          response_data=response.json()
        elif params_json != {}:
          response=requests.get(str_url,headers=headersAPI,params=params_json)
          response_data=response.json()
        else:
          response=requests.get(str_url,headers=headersAPI)
          response_data=response.json()

        if 'error' in response_data:
            raise Exception(f"{response_data['error']['message']}")
    except Exception as error:
        print(f"ERROR {error} in API {URL_API_BASE}")
        print(f"ERROR in API {URL_API_BASE}")
    return response_data

In [459]:
get_time('start')

Este proceso comenz贸 en 16:34:09

In [460]:
URL_API_BASE=f"https://staging.data-api.bepro11.com/api"
# API_KEY='eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJoYXNoZWRfaWQiOiJiZXByb0FQSUtleV9uaDAifQ.bhmuMMslbT5MZbHgmmcO2z7EOoA_2GVxARh9lAINh7g' #Demo
API_KEY='eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJoYXNoZWRfaWQiOiJiZXByb0FQSUtleV82VTAifQ.eJPGw3z0UF22uLxWWf2OAcGo3jkUYbYnCBF8XUQ842U' #Demo

URL_BASE = 'CSV/BEPRO/Data/'

In [461]:
def Create_Directory(files_dir):
    # Verificar si el directorio existe
    # files_dir = 'Data'
    if not os.path.exists(files_dir):
        # Si no existe, crearlo
        os.makedirs(files_dir)
        print(f"El directorio '{files_dir}' ha sido creado.")
    else:
        print(f"El directorio '{files_dir}' ya existe.")
    return 

Create_Directory('CSV')
Create_Directory('CSV/BEPRO')
Create_Directory('CSV/BEPRO/Data')
Create_Directory('CSV/BEPRO/Data/matches')
# Create_Directory('CSV/BEPRO/Data/seasons')
Create_Directory('CSV/BEPRO/Data/teams')
Create_Directory('CSV/BEPRO/Data/matches/events')
Create_Directory('CSV/BEPRO/Data/matches/formations')
Create_Directory('CSV/BEPRO/Data/matches/matches')
Create_Directory('CSV/BEPRO/Data/matches/pass_matrix')
Create_Directory('CSV/BEPRO/Data/matches/player_stats')
Create_Directory('CSV/BEPRO/Data/matches/sequence_data')
Create_Directory('CSV/BEPRO/Data/matches/team_stats')
Create_Directory('CSV/BEPRO/Data/matches/lineups')
# Create_Directory('CSV/BEPRO/Data/seasons/players_seasons')
# Create_Directory('CSV/BEPRO/Data/seasons/teams_seasons')

El directorio 'CSV' ya existe.
El directorio 'CSV/BEPRO' ya existe.
El directorio 'CSV/BEPRO/Data' ha sido creado.
El directorio 'CSV/BEPRO/Data/matches' ha sido creado.
El directorio 'CSV/BEPRO/Data/teams' ha sido creado.
El directorio 'CSV/BEPRO/Data/matches/events' ha sido creado.
El directorio 'CSV/BEPRO/Data/matches/formations' ha sido creado.
El directorio 'CSV/BEPRO/Data/matches/matches' ha sido creado.
El directorio 'CSV/BEPRO/Data/matches/pass_matrix' ha sido creado.
El directorio 'CSV/BEPRO/Data/matches/player_stats' ha sido creado.
El directorio 'CSV/BEPRO/Data/matches/sequence_data' ha sido creado.
El directorio 'CSV/BEPRO/Data/matches/team_stats' ha sido creado.
El directorio 'CSV/BEPRO/Data/matches/lineups' ha sido creado.

In [462]:
df_matches = pd.DataFrame()
event_data = pd.DataFrame()
de_event_data = pd.DataFrame()
df_formations = pd.DataFrame()
df_lineup = pd.DataFrame()
df_sequence_data = pd.DataFrame()
df_player_stats = pd.DataFrame()
df_team_stats = pd.DataFrame()
df_teams_season = pd.DataFrame()

df_teams = pd.DataFrame()
df_team_players = pd.DataFrame()

df_pass_matrix = pd.DataFrame()

In [463]:
# if(os.path.exists(URL_BASE_DRIVE+'matches_.csv')):
#   df_matches_endrive = pd.read_csv(URL_BASE_DRIVE+'matches_.csv')
# if(os.path.exists(URL_BASE_DRIVE+'event_data_.csv')):
#   event_data_endrive = pd.read_csv(URL_BASE_DRIVE+'event_data_.csv')
# if(os.path.exists(URL_BASE_DRIVE+'formations_.csv')):
#   df_formations_endrive = pd.read_csv(URL_BASE_DRIVE+'formations_.csv')
# if(os.path.exists(URL_BASE_DRIVE+'lineup_.csv')):
#   df_lineup_endrive = pd.read_csv(URL_BASE_DRIVE+'lineup_.csv')
# if(os.path.exists(URL_BASE_DRIVE+'sequence_data_.csv')):
#   df_sequence_data_endrive = pd.read_csv(URL_BASE_DRIVE+'sequence_data_.csv')
# if(os.path.exists(URL_BASE_DRIVE+'player_stats_.csv')):
#   df_player_stats_endrive = pd.read_csv(URL_BASE_DRIVE+'player_stats_.csv')
# if(os.path.exists(URL_BASE_DRIVE+'team_stats_.csv')):
#   df_team_stats_endrive = pd.read_csv(URL_BASE_DRIVE+'team_stats_.csv')
# if(os.path.exists(URL_BASE_DRIVE+'teams_.csv')):
#   df_teams = pd.read_csv(URL_BASE_DRIVE+'teams_.csv')
# if(os.path.exists(URL_BASE_DRIVE+'team_players_.csv')):
#   df_team_players = pd.read_csv(URL_BASE_DRIVE+'team_players_.csv')
# if(os.path.exists(URL_BASE_DRIVE+'pass_matrix_.csv')):
#   df_pass_matrix_endrive = pd.read_csv(URL_BASE_DRIVE+'pass_matrix_.csv')

# if(os.path.exists(URL_BASE_DRIVE+'season_teams_.csv')):
#   df_teams_season_endrive = pd.read_csv(URL_BASE_DRIVE+'season_teams_.csv')

In [464]:
#LLAMADA A LA API PIDIENDO LA LISTA DE LIGAS
leagues = getResults('/leagues')

if(leagues['result']):
  df_leagues = json_normalize(leagues['result'])
  
df_leagues

,id,name,name_en,iso_country_code,age_limit,division,season_ids
0,1184,Tercera RFEF - G4,None,ES,ADULT,13.0,"[1605, 3362]"
1,698,D. Honor Juvenil - G2,Divisi贸n Honor Juvenil - Grupo 2,ES,U19,32.0,"[1626, 2399, 3303]"
2,1179,Segunda RFEF - G2,None,ES,ADULT,6.0,"[2382, 3259]"
3,1719,Divisi贸n de Honor - Araba,Divisi贸n de Honor - Araba,ES,ADULT,32.0,[2565]
4,1992,Copa Vasca Cadete,Copa Vasca Cadete,ES,U16,NaN,[3001]
5,2154,Liga Vasca Cadete,Liga Vasca Cadete,ES,U16,61.0,"[3728, 3364]"

In [465]:
df_leagues.rename(columns={'id': 'league_id'}, inplace=True)
df_leagues

,league_id,name,name_en,iso_country_code,age_limit,division,season_ids
0,1184,Tercera RFEF - G4,None,ES,ADULT,13.0,"[1605, 3362]"
1,698,D. Honor Juvenil - G2,Divisi贸n Honor Juvenil - Grupo 2,ES,U19,32.0,"[1626, 2399, 3303]"
2,1179,Segunda RFEF - G2,None,ES,ADULT,6.0,"[2382, 3259]"
3,1719,Divisi贸n de Honor - Araba,Divisi贸n de Honor - Araba,ES,ADULT,32.0,[2565]
4,1992,Copa Vasca Cadete,Copa Vasca Cadete,ES,U16,NaN,[3001]
5,2154,Liga Vasca Cadete,Liga Vasca Cadete,ES,U16,61.0,"[3728, 3364]"

In [466]:
df_leagues.to_csv(URL_BASE+'leagues.csv', index=False)

In [467]:
df_league_seasons = df_leagues.explode('season_ids')
df_league_seasons.rename(columns={'season_ids': 'season_id'}, inplace=True)
df_league_seasons

,league_id,name,name_en,iso_country_code,age_limit,division,season_id
0,1184,Tercera RFEF - G4,None,ES,ADULT,13.0,1605
0,1184,Tercera RFEF - G4,None,ES,ADULT,13.0,3362
1,698,D. Honor Juvenil - G2,Divisi贸n Honor Juvenil - Grupo 2,ES,U19,32.0,1626
1,698,D. Honor Juvenil - G2,Divisi贸n Honor Juvenil - Grupo 2,ES,U19,32.0,2399
1,698,D. Honor Juvenil - G2,Divisi贸n Honor Juvenil - Grupo 2,ES,U19,32.0,3303
2,1179,Segunda RFEF - G2,None,ES,ADULT,6.0,2382
2,1179,Segunda RFEF - G2,None,ES,ADULT,6.0,3259
3,1719,Divisi贸n de Honor - Araba,Divisi贸n de Honor - Araba,ES,ADULT,32.0,2565
4,1992,Copa Vasca Cadete,Copa Vasca Cadete,ES,U16,NaN,3001
5,2154,Liga Vasca Cadete,Liga Vasca Cadete,ES,U16,61.0,3728
5,2154,Liga Vasca Cadete,Liga Vasca Cadete,ES,U16,61.0,3364

In [468]:
# df_seasons.to_csv(URL_BASE+'seasons.csv', index=False)

In [469]:

df_league_seasons.drop_duplicates(subset=['league_id','season_id'], inplace=True)

# df_league_seasons = df_league_seasons[df_league_seasons['league_id']==1184]

In [470]:
df_league_seasons

,league_id,name,name_en,iso_country_code,age_limit,division,season_id
0,1184,Tercera RFEF - G4,None,ES,ADULT,13.0,1605
0,1184,Tercera RFEF - G4,None,ES,ADULT,13.0,3362
1,698,D. Honor Juvenil - G2,Divisi贸n Honor Juvenil - Grupo 2,ES,U19,32.0,1626
1,698,D. Honor Juvenil - G2,Divisi贸n Honor Juvenil - Grupo 2,ES,U19,32.0,2399
1,698,D. Honor Juvenil - G2,Divisi贸n Honor Juvenil - Grupo 2,ES,U19,32.0,3303
2,1179,Segunda RFEF - G2,None,ES,ADULT,6.0,2382
2,1179,Segunda RFEF - G2,None,ES,ADULT,6.0,3259
3,1719,Divisi贸n de Honor - Araba,Divisi贸n de Honor - Araba,ES,ADULT,32.0,2565
4,1992,Copa Vasca Cadete,Copa Vasca Cadete,ES,U16,NaN,3001
5,2154,Liga Vasca Cadete,Liga Vasca Cadete,ES,U16,61.0,3728
5,2154,Liga Vasca Cadete,Liga Vasca Cadete,ES,U16,61.0,3364

In [471]:
df_league_seasons.to_csv(URL_BASE+'league_seasons.csv', index=False)

In [472]:
# league_id='1719'
# season_id='2565'

In [473]:
# #LLAMADA A LA API PIDIENDO UNA LIGA PUNTUAL
# league = getResults('/leagues/' + league_id)
# if(league['result']):
#   df_league = json_normalize(league['result'])
#   display(df_league)

# league_id='1719'
# season_id='2565'

In [474]:
df_seasons = pd.DataFrame()
# df_teams_season = pd.DataFrame()

In [475]:
for indice_fila, fila in df_league_seasons.iterrows():
    try:
      endpoint = '/seasons/' + str(fila['season_id'])
      season = getResults(endpoint)

      if(season['result']):
        print(season['result'])

        df_season = json_normalize(season['result'])
        df_seasons = pd.concat([df_seasons,df_season])

        # df_season_teams = df_season.explode('team_ids')
        # df_season_teams.rename(columns={'id':'season_id','team_ids': 'team_id'}, inplace=True)
        # df_season_teams.to_csv(URL_BASE+'seasons/'+'teams_seasons_'+str(fila['season_id'])+'.csv', index=False)

        # print(f"Teams for season {str(fila['season_ids'])}: {len(df_teams_season)}")
    except Exception as error:
      pass

{'id': 1605, 'name': '21/22', 'season_group_name': '21/22', 'league_id': 1184, 'team_ids': [6638, 6830, 7411, 7419, 7680, 7740, 7752, 7753, 7774, 7791, 7826, 7830, 7894, 7953, 8022, 8181, 8199, 9848, 11025, 11026]}
{'id': 3362, 'name': '23/24', 'season_group_name': '23/24', 'league_id': 1184, 'team_ids': [6638, 7411, 7680, 7740, 7752, 7753, 7791, 7826, 7894, 7953, 8022, 8181, 8542, 8598, 9848, 13048, 13054, 15447]}
{'id': 1626, 'name': '21/22', 'season_group_name': '21/22', 'league_id': 698, 'team_ids': [6375, 6376, 7724, 7778, 7895, 7955, 7986, 7998, 8138, 8200, 8242, 8283, 8292, 8293, 8505, 10421, 11120, 11121]}
{'id': 2399, 'name': '22/23', 'season_group_name': '22/23', 'league_id': 698, 'team_ids': [6375, 7724, 7778, 7892, 7998, 8138, 8200, 8242, 8283, 8292, 8293, 8460, 8505, 10421, 12221, 16019]}
{'id': 3303, 'name': '23/24', 'season_group_name': '23/24', 'league_id': 698, 'team_ids': [3378, 6375, 7724, 7779, 7892, 7955, 7998, 8090, 8138, 8200, 8242, 8283, 8292, 8293, 8460, 9118, 12221, 26989, 26990]}
{'id': 2382, 'name': '22/23', 'season_group_name': '22/23', 'league_id': 1179, 'team_ids': [7410, 7419, 7608, 7750, 7791, 7877, 7890, 8194, 9782, 9995, 10447, 11015, 11016, 11020, 11138, 11151, 13023, 15934, 15936, 15937]}
{'id': 3259, 'name': '23/24', 'season_group_name': '23/24', 'league_id': 1179, 'team_ids': [6830, 7245, 7410, 7419, 7420, 7608, 7750, 7890, 7989, 8194, 9995, 11016, 11019, 11151, 13020, 13797, 15934, 16301]}
{'id': 2565, 'name': '22/23', 'season_group_name': '22/23', 'league_id': 1719, 'team_ids': [7942, 9845, 11025, 15447, 16683, 16994, 17068, 17236, 17383, 17764, 17847, 17925, 18300, 18508, 18632, 18902, 19160, 19323, 19626]}
{'id': 3001, 'name': '22/23', 'season_group_name': '22/23', 'league_id': 1992, 'team_ids': [7757, 7780, 7893, 7897, 7898, 7939, 8019, 8197]}
{'id': 3728, 'name': '22/23', 'season_group_name': '22/23', 'league_id': 2154, 'team_ids': [7749, 7757, 7780, 7893, 7897, 7898, 7939, 7951, 8019, 8024, 8131, 8137, 8197, 8282, 8323, 8359, 11950, 12120, 16990]}
{'id': 3364, 'name': '23/24', 'season_group_name': '23/24', 'league_id': 2154, 'team_ids': [7749, 7757, 7780, 7893, 7897, 7898, 7939, 7951, 8019, 8131, 8197, 8241, 8282, 8323, 9818, 12120, 12139, 13081]}

In [476]:
df_seasons.rename(columns={'id': 'season_id'}, inplace=True)
df_seasons.drop_duplicates(subset=['league_id','season_id'], inplace=True)
df_seasons.to_csv(URL_BASE+'seasons.csv', index=False)

In [477]:
df_seasons.head()

,season_id,name,season_group_name,league_id,team_ids
0,1605,21/22,21/22,1184,"[6638, 6830, 7411, 7419, 7680, 7740, 7752, 7753, 7774, 7791, 7826, 7830, 7894, 7953, 8022, 8181, 8199, 9848, 11025, 11026]"
0,3362,23/24,23/24,1184,"[6638, 7411, 7680, 7740, 7752, 7753, 7791, 7826, 7894, 7953, 8022, 8181, 8542, 8598, 9848, 13048, 13054, 15447]"
0,1626,21/22,21/22,698,"[6375, 6376, 7724, 7778, 7895, 7955, 7986, 7998, 8138, 8200, 8242, 8283, 8292, 8293, 8505, 10421, 11120, 11121]"
0,2399,22/23,22/23,698,"[6375, 7724, 7778, 7892, 7998, 8138, 8200, 8242, 8283, 8292, 8293, 8460, 8505, 10421, 12221, 16019]"
0,3303,23/24,23/24,698,"[3378, 6375, 7724, 7779, 7892, 7955, 7998, 8090, 8138, 8200, 8242, 8283, 8292, 8293, 8460, 9118, 12221, 26989, 26990]"

In [478]:
# df_teams_season.head()

In [479]:
df_season_team = df_seasons.explode('team_ids')
df_season_team.rename(columns={'id': 'season_id','team_ids': 'team_id'}, inplace=True)
df_season_team.drop_duplicates(subset=['team_id','league_id','season_id'], inplace=True)
df_season_team.head()

   season_id   name season_group_name  league_id team_id
0       1605  21/22             21/22       1184    6638
0       1605  21/22             21/22       1184    6830
0       1605  21/22             21/22       1184    7411
0       1605  21/22             21/22       1184    7419
0       1605  21/22             21/22       1184    7680

In [480]:
df_season_team.to_csv(URL_BASE+'season_teams.csv', index=False)

In [481]:
df_teams = pd.DataFrame()
df_teams_players = pd.DataFrame()

In [482]:
df_seasons

,season_id,name,season_group_name,league_id,team_ids
0,1605,21/22,21/22,1184,"[6638, 6830, 7411, 7419, 7680, 7740, 7752, 7753, 7774, 7791, 7826, 7830, 7894, 7953, 8022, 8181, 8199, 9848, 11025, 11026]"
0,3362,23/24,23/24,1184,"[6638, 7411, 7680, 7740, 7752, 7753, 7791, 7826, 7894, 7953, 8022, 8181, 8542, 8598, 9848, 13048, 13054, 15447]"
0,1626,21/22,21/22,698,"[6375, 6376, 7724, 7778, 7895, 7955, 7986, 7998, 8138, 8200, 8242, 8283, 8292, 8293, 8505, 10421, 11120, 11121]"
0,2399,22/23,22/23,698,"[6375, 7724, 7778, 7892, 7998, 8138, 8200, 8242, 8283, 8292, 8293, 8460, 8505, 10421, 12221, 16019]"
0,3303,23/24,23/24,698,"[3378, 6375, 7724, 7779, 7892, 7955, 7998, 8090, 8138, 8200, 8242, 8283, 8292, 8293, 8460, 9118, 12221, 26989, 26990]"
0,2382,22/23,22/23,1179,"[7410, 7419, 7608, 7750, 7791, 7877, 7890, 8194, 9782, 9995, 10447, 11015, 11016, 11020, 11138, 11151, 13023, 15934, 15936, 15937]"
0,3259,23/24,23/24,1179,"[6830, 7245, 7410, 7419, 7420, 7608, 7750, 7890, 7989, 8194, 9995, 11016, 11019, 11151, 13020, 13797, 15934, 16301]"
0,2565,22/23,22/23,1719,"[7942, 9845, 11025, 15447, 16683, 16994, 17068, 17236, 17383, 17764, 17847, 17925, 18300, 18508, 18632, 18902, 19160, 19323, 19626]"
0,3001,22/23,22/23,1992,"[7757, 7780, 7893, 7897, 7898, 7939, 8019, 8197]"
0,3728,22/23,22/23,2154,"[7749, 7757, 7780, 7893, 7897, 7898, 7939, 7951, 8019, 8024, 8131, 8137, 8197, 8282, 8323, 8359, 11950, 12120, 16990]"
0,3364,23/24,23/24,2154,"[7749, 7757, 7780, 7893, 7897, 7898, 7939, 7951, 8019, 8131, 8197, 8241, 8282, 8323, 9818, 12120, 12139, 13081]"

In [483]:
df_season_team.head()

   season_id   name season_group_name  league_id team_id
0       1605  21/22             21/22       1184    6638
0       1605  21/22             21/22       1184    6830
0       1605  21/22             21/22       1184    7411
0       1605  21/22             21/22       1184    7419
0       1605  21/22             21/22       1184    7680

In [484]:
len(df_season_team)

193

In [485]:
df_seasons.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11 entries, 0 to 0
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   season_id          11 non-null     int64
 1   name               11 non-null     object
 2   season_group_name  11 non-null     object
 3   league_id          11 non-null     int64
 4   team_ids           11 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes

In [486]:
for indice_fila, fila in df_seasons.iterrows():
    #LLAMADA A LA API PIDIENDO LOS PARTIDOS DE CADA TEMPORADA
    try:
      endpoint = '/teams',{'season':(fila['season_id'])}
      teams = getResults('/teams',{'season':(fila['season_id'])})
      # print(teams)
      if(teams['result']):
        df_team = json_normalize(teams['result'])
        
        df_team['season_id'] = fila['season_id']
        df_team.rename(columns={'id':'team_id'}, inplace=True)

        df_teams = pd.concat([df_teams,df_team])

        # # df_team.to_csv(URL_BASE+'seasons/teams/'+'teams_seasons_'+str(fila['league_id'])+'_'+str(fila['season_id'])+'.csv', index=False)
        df_team_players = df_team.explode('player_ids')
        df_team_players.rename(columns={'id':'team_id','player_ids': 'player_id'}, inplace=True)
        df_team_players.to_csv(URL_BASE+'seasons/players/'+'teams_players_season_'+str(fila['season_id'])+'.csv', index=False)

        # df_teams_players = pd.concat([df_teams_players,df_team_players])
    except Exception as error:
      pass

In [487]:
df_teams.head()

,team_id,name,name_en,iso_country_code,player_ids,season_id
0,6638,SD Leioa,SD Leioa,ES,"[98840, 98842, 98843, 98845, 98848, 98849, 98853, 98860, 99116, 118501, 118503, 133425, 138867, 138868, 173125, 173126, 173127, 173128, 173129, 173130, 173131, 173132, 173133, 173134, 178864, 184449, 224713, 224714, 224715, 224716, 224717, 224718, 224719, 224720, 224721, 224722, 224723, 224724, 224725, 224726, 224727, 224728, 234739, 234740, 234741, 234742, 236017, 244959, 248693, 248694, 258644, 335663, 335664, 335665, 335666, 335667, 335668, 335669, 335670, 335671, 335672, 442005, 442006, 442007, 442008, 442009, 442010, 442011, 442012, 442013, 442014, 442015, 442016, 460413, 460414, 493197, 508034]",1605
1,6638,SD Leioa,SD Leioa,ES,"[98840, 98842, 98843, 98845, 98848, 98849, 98853, 98860, 99116, 118501, 118503, 133425, 138867, 138868, 173125, 173126, 173127, 173128, 173129, 173130, 173131, 173132, 173133, 173134, 178864, 184449, 224713, 224714, 224715, 224716, 224717, 224718, 224719, 224720, 224721, 224722, 224723, 224724, 224725, 224726, 224727, 224728, 234739, 234740, 234741, 234742, 236017, 244959, 248693, 248694, 258644, 335663, 335664, 335665, 335666, 335667, 335668, 335669, 335670, 335671, 335672, 442005, 442006, 442007, 442008, 442009, 442010, 442011, 442012, 442013, 442014, 442015, 442016, 460413, 460414, 493197, 508034]",1605
2,6830,Barakaldo C.F.,Barakaldo CF,ES,"[104399, 104401, 104404, 104406, 104411, 104412, 104415, 110625, 111057, 140451, 154440, 164491, 164492, 164493, 164494, 164495, 164496, 173039, 173040, 173041, 173042, 173043, 173044, 173045, 173046, 173047, 173048, 173049, 184433, 184434, 189138, 194157, 236474, 236475, 236476, 236477, 236478, 236479, 236480, 236481, 236482, 236483, 236484, 236485, 236486, 236487, 236488, 236489, 236490, 236491, 236614, 236615, 236616, 236617, 244973, 244974, 261235, 261236, 261237, 261238, 261418, 262652, 262654, 262716, 314851, 314852, 314853, 314854, 314855, 314856, 314857, 314858, 314859, 314860, 314861, 314862, 314863, 356399, 474763, 474764, 474765, 474766, 474767, 474768, 474769, 517533]",1605
3,6830,Barakaldo C.F.,Barakaldo CF,ES,"[104399, 104401, 104404, 104406, 104411, 104412, 104415, 110625, 111057, 140451, 154440, 164491, 164492, 164493, 164494, 164495, 164496, 173039, 173040, 173041, 173042, 173043, 173044, 173045, 173046, 173047, 173048, 173049, 184433, 184434, 189138, 194157, 236474, 236475, 236476, 236477, 236478, 236479, 236480, 236481, 236482, 236483, 236484, 236485, 236486, 236487, 236488, 236489, 236490, 236491, 236614, 236615, 236616, 236617, 244973, 244974, 261235, 261236, 261237, 261238, 261418, 262652, 262654, 262716, 314851, 314852, 314853, 314854, 314855, 314856, 314857, 314858, 314859, 314860, 314861, 314862, 314863, 356399, 474763, 474764, 474765, 474766, 474767, 474768, 474769, 517533]",1605
4,7411,Club Portugalete,Club Portugalete,ES,"[111402, 111408, 111411, 183268, 127805, 127812, 141904, 142320, 142322, 142323, 176689, 166678, 166680, 173115, 173116, 173118, 173119, 173120, 173121, 173122, 175365, 176724, 180554, 181937, 182313, 183267, 183269, 183270, 183271, 183883, 183884, 183885, 226091, 226092, 226093, 226094, 226095, 226096, 226097, 226098, 226099, 226100, 226101, 226102, 226103, 226104, 226105, 226106, 226107, 228645, 228646, 248505, 248506, 166679, 332709, 332710, 332711, 332712, 332713, 332714, 332715, 332716, 332717, 332718, 332719, 332720, 332721, 332722, 332723, 332724, 469797, 469798, 469799, 469800, 469801, 469802, 469803, 469804, 469805, 469806, 469807, 469808, 469809, 469810, 469811, 485518, 485519, 485520, 485521, 515443]",1605

In [488]:
df_teams.drop_duplicates(subset=['team_id','season_id'], inplace=True)
df_teams.to_csv(URL_BASE+'teams_seasons_'+str(fila['season_id'])+'.csv', index=False)

In [489]:
print(len(df_teams))

193

In [490]:
df_teams_players = df_teams.explode('player_ids')
df_teams_players.rename(columns={'id':'team_id','player_ids': 'player_id'}, inplace=True)

In [491]:
print(len(df_teams_players))

13975

In [492]:
df_teams_players.head()

   team_id      name   name_en iso_country_code player_id  season_id
0     6638  SD Leioa  SD Leioa               ES     98840       1605
0     6638  SD Leioa  SD Leioa               ES     98842       1605
0     6638  SD Leioa  SD Leioa               ES     98843       1605
0     6638  SD Leioa  SD Leioa               ES     98845       1605
0     6638  SD Leioa  SD Leioa               ES     98848       1605

In [493]:
df_teams_players.drop_duplicates(subset=['player_id','team_id','season_id'], inplace=True)

In [494]:
df_teams_players['season_id'].value_counts()

season_id
3303    3000
1626    1551
1605    1383
2399    1383
3362    1229
2382    1228
3259    1139
3364    1026
3728     957
3001     575
2565     504
Name: count, dtype: int64

In [495]:
df_teams_players.to_csv(URL_BASE+'players_seasons.csv', index=False)

In [496]:
df_teams.head()

,team_id,name,name_en,iso_country_code,player_ids,season_id
0,6638,SD Leioa,SD Leioa,ES,"[98840, 98842, 98843, 98845, 98848, 98849, 98853, 98860, 99116, 118501, 118503, 133425, 138867, 138868, 173125, 173126, 173127, 173128, 173129, 173130, 173131, 173132, 173133, 173134, 178864, 184449, 224713, 224714, 224715, 224716, 224717, 224718, 224719, 224720, 224721, 224722, 224723, 224724, 224725, 224726, 224727, 224728, 234739, 234740, 234741, 234742, 236017, 244959, 248693, 248694, 258644, 335663, 335664, 335665, 335666, 335667, 335668, 335669, 335670, 335671, 335672, 442005, 442006, 442007, 442008, 442009, 442010, 442011, 442012, 442013, 442014, 442015, 442016, 460413, 460414, 493197, 508034]",1605
2,6830,Barakaldo C.F.,Barakaldo CF,ES,"[104399, 104401, 104404, 104406, 104411, 104412, 104415, 110625, 111057, 140451, 154440, 164491, 164492, 164493, 164494, 164495, 164496, 173039, 173040, 173041, 173042, 173043, 173044, 173045, 173046, 173047, 173048, 173049, 184433, 184434, 189138, 194157, 236474, 236475, 236476, 236477, 236478, 236479, 236480, 236481, 236482, 236483, 236484, 236485, 236486, 236487, 236488, 236489, 236490, 236491, 236614, 236615, 236616, 236617, 244973, 244974, 261235, 261236, 261237, 261238, 261418, 262652, 262654, 262716, 314851, 314852, 314853, 314854, 314855, 314856, 314857, 314858, 314859, 314860, 314861, 314862, 314863, 356399, 474763, 474764, 474765, 474766, 474767, 474768, 474769, 517533]",1605
4,7411,Club Portugalete,Club Portugalete,ES,"[111402, 111408, 111411, 183268, 127805, 127812, 141904, 142320, 142322, 142323, 176689, 166678, 166680, 173115, 173116, 173118, 173119, 173120, 173121, 173122, 175365, 176724, 180554, 181937, 182313, 183267, 183269, 183270, 183271, 183883, 183884, 183885, 226091, 226092, 226093, 226094, 226095, 226096, 226097, 226098, 226099, 226100, 226101, 226102, 226103, 226104, 226105, 226106, 226107, 228645, 228646, 248505, 248506, 166679, 332709, 332710, 332711, 332712, 332713, 332714, 332715, 332716, 332717, 332718, 332719, 332720, 332721, 332722, 332723, 332724, 469797, 469798, 469799, 469800, 469801, 469802, 469803, 469804, 469805, 469806, 469807, 469808, 469809, 469810, 469811, 485518, 485519, 485520, 485521, 515443]",1605
6,7419,Deportivo Alav茅s B,Deportivo Alaves B,ES,"[286724, 126135, 111555, 140351, 291323, 167562, 224737, 225033, 225032, 286703, 167838, 215708, 167833, 172804, 173909, 178288, 225034, 214209, 215681, 218256, 218257, 221350, 224732, 225030, 282937, 274397, 224736, 189081, 224729, 167844, 224735, 284720, 177614, 301840, 301841, 301842, 301843, 301844, 301845, 304623, 314989, 317073, 317074, 333312, 339769, 342994, 346191, 353329, 356400, 359018, 385409, 385413, 428393, 428394, 428395, 431003, 439401, 439402, 445740, 464374, 466431, 485631, 487105, 493455, 510885, 510886, 510887]",1605
9,7680,CD Vitoria,SD Eibar B,ES,"[231633, 143394, 145566, 175330, 175331, 175334, 175335, 216295, 231630, 216296, 231629, 231632, 231634, 231635, 231636, 249275, 249276, 249279, 249280, 249277, 249278, 251784, 252645, 286986, 253296, 254345, 254348, 254349, 254350, 254351, 258461, 286996, 286997, 287005, 287008, 287009, 287010, 287011, 287012, 287013, 287016, 287017, 287018, 287020, 311251, 314168, 429841, 429848, 429849, 429850, 437799, 445147, 488699, 520796]",1605

In [497]:
# team_players = getResults('/players',{'team':7942})
# ed = json_normalize(team_players['result'])
# ed

In [498]:

df_team_players = pd.DataFrame()

In [499]:
if(len(df_teams)>0):

  list_team_players = pd.DataFrame()

  for indice_fila, fila in df_teams.iterrows():
    #https://staging.data-api.bepro11.com/api/matches/32266/lineup
    team_players = getResults('/players',{'team':fila.team_id})
    if(team_players['result']):
      ed = json_normalize(team_players['result'])

      ed['team_id'] = fila.team_id
      ed['season_id'] = fila.season_id
      ed.rename(columns={'id':'player_id'}, inplace=True)

      list_team_players = pd.concat([list_team_players,ed])
     
      ed.to_csv(URL_BASE+'teams/teams_'+str(fila['team_id'])+'_players_seasons_'+str(fila['season_id'])+'.csv', index=False)

In [500]:
list_team_players.head()

,player_id,player_name,player_last_name,player_name_en,player_last_name_en,back_number,player_role,main_position,team_id,birth_date,season_id
0,98840,Urtzi,,Urtzi,,1,None,GK,6638,None,1605
1,98842,Morcillo,,Morcillo,,2,None,RB,6638,None,1605
2,98843,Berasaluce,,Berasaluce,,5,None,CB,6638,None,1605
3,98845,Juaristi,,Juaristi,,6,None,CB,6638,None,1605
4,98848,Pradera,,Pradera,,20,None,CF,6638,None,1605

In [501]:
len(list_team_players)

12007

In [502]:
# list_team_players.rename(columns={'id':'player_id'}, inplace=True)
# list_team_players.drop_duplicates(subset=['player_id','season_id'], inplace=True)

In [503]:
# len(list_team_players)

In [504]:
df_players = pd.DataFrame()
if(len(list_team_players)>0):
    list_team_players.rename(columns={'id':'player_id'}, inplace=True)
    columnas = ['player_id', 'player_name', 'player_last_name', 'player_name_en', 'player_last_name_en', 'back_number', 'player_role', 'main_position', 'birth_date']
    df_players = list_team_players[columnas]

    if(os.path.exists(URL_BASE+'players_all.csv')):
        df_players_old = pd.read_csv(URL_BASE+'players_all.csv')
        df_players = pd.concat([df_players, df_players_old])
        df_players.drop_duplicates(subset=['player_id'], inplace=True)

    df_players.to_csv(URL_BASE+'players_all.csv', index=False)

    # df_team_players.head(20)
    print(len(df_players))

12007

In [505]:
def convertStringToFecha(start_time):
  try:
    fecha = start_time
    fecha = fecha.split(" ")[0]
    fecha = fecha.split("-")[2] + '/' + fecha.split("-")[1] + '/' + fecha.split("-")[0]
  except:
    fecha=''
  return fecha

def convertStringToHora(start_time):
  try:
    hora = start_time
    hora = hora.split(" ")[1]
    hora = hora.split(":")[0] + ':' + hora.split(":")[1] + ' hs'
  except:
    hora=''
  return hora

In [506]:

df_matches_new = pd.DataFrame()
for indice_fila, fila in df_seasons.iterrows():

  df_matches_old = pd.DataFrame()
  if(os.path.exists(URL_BASE+'matches/matches/matches_seasons_'+str(fila['league_id'])+'_'+str(fila['season_id'])+'.csv')):
    df_matches_old = pd.read_csv(URL_BASE+'matches/matches/matches_seasons_'+str(fila['season_id'])+'.csv')

  matches = getResults('/matches',{'season':fila['season_id']})
  if(matches['result']):
    df_matches = json_normalize(matches['result'])

    df_matches.rename(columns={'id':'match_id','home_team.id':'home_team_id','away_team.id':'away_team_id','detail_match_result.home_team_score':'home_team_score','detail_match_result.away_team_score':'away_team_score','round.id':'round_id','round.name':'round_name','season.id':'season_id','season.name':'season_name','season.season_group_name':'season_group_name','season.league_id':'league_id','home_team.name':'home_team_name','home_team.name_en':'home_team_name_en','home_team.iso_country_code':'home_team_iso_country_code','away_team.name':'away_team_name','away_team.name_en':'away_team_name_en','away_team.iso_country_code':'away_team_iso_country_code','venue.id':'venue_id','venue.display_name':'venue_display_name','venue.ground_width':'venue_ground_width','venue.ground_height':'venue_ground_height'}, inplace=True)

    df_matches['fecha'] = df_matches.apply(lambda row: convertStringToFecha(row.start_time), axis = 1)
    df_matches['hora'] = df_matches.apply(lambda row: convertStringToHora(row.start_time), axis = 1)
    df_matches['description_match'] = df_matches.apply(lambda row: row.home_team_name + ' ' + str(row.home_team_score) + ' - ' + str(row.away_team_score) + ' ' + row.away_team_name, axis = 1)
    df_matches.to_csv(URL_BASE+'matches/matches/matches_seasons_'+str(fila['season_id'])+'.csv', index=False)

    if(len(df_matches_old)!=0):
      for indice_fila, fila in df_matches.iterrows():
        for indice_fila2, fila2 in df_matches_old.iterrows():
          #if(fila['id'] == 57218 and fila2['id'] == 57218):
          # if(os.path.exists(URL_BASE+'matches/match_'+fila['id']+'.csv')==False):
          #   df_matches.to_csv(URL_BASE+'matches/match_'+fila['id']+'.csv', index=False)

          if(fila['match_id'] == fila2['match_id']):
            if(fila['is_analysis_finished']!=fila2['is_analysis_finished']):
              fila_new = {'match_id': str(fila2['match_id']),
                          'season_id': str(fila['season_id']),
                          'league_id': str(fila['league_id']),
                          'is_analysis_finished': str(fila['is_analysis_finished']),
                          'home_team_id':str(fila['home_team_id']),
                          'away_team_id':str(fila['away_team_id']),
                          'home_team_score': str(fila['home_team_score']),
                          'away_team_score': str(fila['away_team_score']),
                          'start_time':str(fila['start_time'])}
              df_matches_new = df_matches_new.append(fila_new, ignore_index = True) #agrego el partido que cambio su estado a un nuevo df para solo ir a buscar los datos de esos
              # df_matches_new = pd.concat([df_matches_new,fila])
      if(len(df_matches_new)>0):
        df_matches_new['match_id'] = df_matches_new['match_id'].astype(int)
        df_matches_new['is_analysis_finished'] = df_matches_new['is_analysis_finished'].astype(bool)
    else:
      df_matches_new = df_matches[['match_id','season_id','league_id','is_analysis_finished','home_team_id','away_team_id','home_team_score','away_team_score','start_time']]
      df_matches_new['is_analysis_finished'] = 'False'
    # LEER PARTIDOS QUE YA DESCARGAMOS Y BUSCAR EL PARTIDO SI EL PARTIDO Y SI LA COLUMNA is_analysis_finished estaba en False y paso a True
    # guardar el id del match en un array de nuevos ingresos y luego esa lista cargar en un mail y enviar y esa lista usar para traer los demas datos
    # al final traer a un dataframe los datos ya cargados y sumarles los que se descargaron nuevos y por las dudas hacer un drop duplicates
    # df_matches_new.head()

In [507]:
len(df_matches_new)

64

In [508]:
df_matches_new.drop_duplicates(subset=['match_id'], inplace=True)

In [509]:
df_matches_new.head(10)

,match_id,season_id,league_id,is_analysis_finished,home_team_id,away_team_id,home_team_score,away_team_score,start_time
0,135375,3364,2154,False,7757,7939,0,0,2024-06-01 16:30:00+02:00
1,135374,3364,2154,False,7897,7749,3,1,2024-06-01 12:00:00+02:00
2,135040,3364,2154,False,8323,7897,0,4,2024-05-25 18:00:00+02:00
3,135036,3364,2154,False,7939,7898,0,0,2024-05-25 12:30:00+02:00
4,134647,3364,2154,False,7897,9818,3,0,2024-05-19 12:30:00+02:00
5,134652,3364,2154,False,8197,7939,0,0,2024-05-18 18:30:00+02:00
6,134284,3364,2154,False,7939,8282,0,0,2024-05-11 12:30:00+02:00
7,134037,3364,2154,False,13081,7897,1,4,2024-05-11 12:00:00+02:00
8,133559,3364,2154,False,7897,7939,3,0,2024-05-05 15:30:00+02:00
9,133160,3364,2154,False,7939,8019,0,0,2024-04-28 12:30:00+02:00

In [510]:
df_teams.head()

,team_id,name,name_en,iso_country_code,player_ids,season_id
0,6638,SD Leioa,SD Leioa,ES,"[98840, 98842, 98843, 98845, 98848, 98849, 98853, 98860, 99116, 118501, 118503, 133425, 138867, 138868, 173125, 173126, 173127, 173128, 173129, 173130, 173131, 173132, 173133, 173134, 178864, 184449, 224713, 224714, 224715, 224716, 224717, 224718, 224719, 224720, 224721, 224722, 224723, 224724, 224725, 224726, 224727, 224728, 234739, 234740, 234741, 234742, 236017, 244959, 248693, 248694, 258644, 335663, 335664, 335665, 335666, 335667, 335668, 335669, 335670, 335671, 335672, 442005, 442006, 442007, 442008, 442009, 442010, 442011, 442012, 442013, 442014, 442015, 442016, 460413, 460414, 493197, 508034]",1605
2,6830,Barakaldo C.F.,Barakaldo CF,ES,"[104399, 104401, 104404, 104406, 104411, 104412, 104415, 110625, 111057, 140451, 154440, 164491, 164492, 164493, 164494, 164495, 164496, 173039, 173040, 173041, 173042, 173043, 173044, 173045, 173046, 173047, 173048, 173049, 184433, 184434, 189138, 194157, 236474, 236475, 236476, 236477, 236478, 236479, 236480, 236481, 236482, 236483, 236484, 236485, 236486, 236487, 236488, 236489, 236490, 236491, 236614, 236615, 236616, 236617, 244973, 244974, 261235, 261236, 261237, 261238, 261418, 262652, 262654, 262716, 314851, 314852, 314853, 314854, 314855, 314856, 314857, 314858, 314859, 314860, 314861, 314862, 314863, 356399, 474763, 474764, 474765, 474766, 474767, 474768, 474769, 517533]",1605
4,7411,Club Portugalete,Club Portugalete,ES,"[111402, 111408, 111411, 183268, 127805, 127812, 141904, 142320, 142322, 142323, 176689, 166678, 166680, 173115, 173116, 173118, 173119, 173120, 173121, 173122, 175365, 176724, 180554, 181937, 182313, 183267, 183269, 183270, 183271, 183883, 183884, 183885, 226091, 226092, 226093, 226094, 226095, 226096, 226097, 226098, 226099, 226100, 226101, 226102, 226103, 226104, 226105, 226106, 226107, 228645, 228646, 248505, 248506, 166679, 332709, 332710, 332711, 332712, 332713, 332714, 332715, 332716, 332717, 332718, 332719, 332720, 332721, 332722, 332723, 332724, 469797, 469798, 469799, 469800, 469801, 469802, 469803, 469804, 469805, 469806, 469807, 469808, 469809, 469810, 469811, 485518, 485519, 485520, 485521, 515443]",1605
6,7419,Deportivo Alav茅s B,Deportivo Alaves B,ES,"[286724, 126135, 111555, 140351, 291323, 167562, 224737, 225033, 225032, 286703, 167838, 215708, 167833, 172804, 173909, 178288, 225034, 214209, 215681, 218256, 218257, 221350, 224732, 225030, 282937, 274397, 224736, 189081, 224729, 167844, 224735, 284720, 177614, 301840, 301841, 301842, 301843, 301844, 301845, 304623, 314989, 317073, 317074, 333312, 339769, 342994, 346191, 353329, 356400, 359018, 385409, 385413, 428393, 428394, 428395, 431003, 439401, 439402, 445740, 464374, 466431, 485631, 487105, 493455, 510885, 510886, 510887]",1605
9,7680,CD Vitoria,SD Eibar B,ES,"[231633, 143394, 145566, 175330, 175331, 175334, 175335, 216295, 231630, 216296, 231629, 231632, 231634, 231635, 231636, 249275, 249276, 249279, 249280, 249277, 249278, 251784, 252645, 286986, 253296, 254345, 254348, 254349, 254350, 254351, 258461, 286996, 286997, 287005, 287008, 287009, 287010, 287011, 287012, 287013, 287016, 287017, 287018, 287020, 311251, 314168, 429841, 429848, 429849, 429850, 437799, 445147, 488699, 520796]",1605

In [511]:
# if(len(df_matches_new)>0):
#   df_matches_new['home_team_id'] = df_matches_new['home_team_id'].astype(int)
#   df_matches_new['away_team_id'] = df_matches_new['away_team_id'].astype(int)
#   #% Marcos: cols = df_teams.columns.difference(df_matches_new.columns)
#   df_matches_new = pd.merge(df_matches_new, df_teams, left_on="home_team_id", right_on="team_id", how="left", sort=False)
#   df_matches_new = pd.merge(df_matches_new, df_teams, left_on="away_team_id", right_on="team_id", how="left", sort=False)
#   df_matches_new.rename(columns = {'id_x':'id_x','is_analysis_finished':'is_analysis_finished','home_team.id':'home_team_id','name_en_x':'home_team_name','iso_country_code_x':'home_team_iso_country_code','away_team.id':'away_team_id','name_en_y':'away_team_name','iso_country_code_y':'away_team_iso_country_code','detail_match_result.home_team_score':'home_team_score','detail_match_result.away_team_score':'away_team_score','start_time':'start_time'}, inplace = True)

#   columnas = ['id_x','start_time','home_team_id','home_team_name','home_team_iso_country_code','away_team_id','away_team_name','away_team_iso_country_code','home_team_score','away_team_score','is_analysis_finished']
#   df_matches_new = df_matches_new[columnas]

#   df_matches_new.rename(columns={'id_x': "id"}, inplace = True)


#   # HACER FUNCION DE CONVERTIR STRING A FECHA
#   # HACER FUNCION DE CONVERTIR STRING A HORA
#   # AGREGAR COLUMNA DE FECHA
#   # AGREGAR COLUMNA DE HORA
#   # AGREGAR COLUMNA DESCRIPCION COMPLETA
#   df_matches_new['fecha'] = df_matches_new.apply(lambda row: convertStringToFecha(row.start_time), axis = 1)
#   df_matches_new['hora'] = df_matches_new.apply(lambda row: convertStringToHora(row.start_time), axis = 1)
#   df_matches_new['description_match'] = df_matches_new.apply(lambda row: row.home_team_name + ' ' + str(row.home_team_score) + ' - ' + str(row.away_team_score) + ' ' + row.away_team_name, axis = 1)

#   # df_matches_new.head()

In [512]:
df_matches_new.head()

,match_id,season_id,league_id,is_analysis_finished,home_team_id,away_team_id,home_team_score,away_team_score,start_time
0,135375,3364,2154,False,7757,7939,0,0,2024-06-01 16:30:00+02:00
1,135374,3364,2154,False,7897,7749,3,1,2024-06-01 12:00:00+02:00
2,135040,3364,2154,False,8323,7897,0,4,2024-05-25 18:00:00+02:00
3,135036,3364,2154,False,7939,7898,0,0,2024-05-25 12:30:00+02:00
4,134647,3364,2154,False,7897,9818,3,0,2024-05-19 12:30:00+02:00

In [513]:
# df_matches_new.to_csv(URL_BASE_DRIVE+'matches_.csv')

In [514]:
df_team_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Empty DataFrame

In [515]:
#POR CADA PARTIDO SOLICITADO ANTERIORMENTE HACEMOS UNA LLAMADA A LA API PIDIENDO LOS EVENTOS

for indice_fila_m, fila_m in df_matches_new.iterrows():

  df_event_data = pd.DataFrame()

  #ESTE WHILE VA PORQUE POR CADA RESPUESTA DE LA API NO DUVUELVE MAS DE 1000 RESULTADOS
  total=1000
  offset=0

  while total==1000:
    #https://staging.data-api.bepro11.com/api/matches/32266/event_data
    event_data = getResults('/matches/' + str(fila_m['match_id']) + '/event_data',{'limit':5000,'offset':offset})

    offset=offset+1000

    #print(event_data)
    # {'detail': 'Match is not analyzed'}
    hay_para_cargar='si'
    try:
      if(event_data['detail'] == 'Match is not analyzed' or event_data['detail'] == 'Not found.'):
        hay_para_cargar='no'
    except:
      hay_para_cargar='si'
      pass

    if(hay_para_cargar=='si'):
      ed = json_normalize(event_data['result'])

      total=len(ed)

      ed['match_id']=fila_m['match_id']
      df_event_data = pd.concat([df_event_data,ed])

    else:
      total=1

  if(len(df_event_data)>0):
    # df_event_data['id_event']=df_event_data['id']
    df_event_data['eventType']=''
    df_event_data['outcome']=''
    df_event_data['subEventType']=''
    df_event_data['cross']=''
    df_event_data['keyPass']=''
    df_event_data['assist']=''
    df_event_data['bodyPart']=''
    df_event_data['ball_position_x']=''
    df_event_data['ball_position_y']=''
    df_event_data['xg']=''

    #% Marcos: inclu铆 drop=True
    df_event_data = df_event_data.reset_index(drop=True)

    for indice_fila, fila in df_event_data.iterrows():
      event_type = json_normalize(fila['event_types'])

      try:
        df_event_data['eventType'][indice_fila] = event_type['eventType'][0]
      except:
        df_event_data['eventType'][indice_fila] = ''
        pass
      try:
        df_event_data['outcome'][indice_fila] = event_type['outcome'][0]
      except:
        df_event_data['outcome'][indice_fila] = ''
        pass
      try:
        df_event_data['subEventType'][indice_fila] = event_type['subEventType'][0]
      except:
        df_event_data['subEventType'][indice_fila] = ''
        pass
      try:
        df_event_data['cross'][indice_fila] = event_type['cross'][0]
      except:
        df_event_data['cross'][indice_fila] = ''
        pass
      try:
        df_event_data['keyPass'][indice_fila] = event_type['keyPass'][0]
      except:
        df_event_data['keyPass'][indice_fila] = ''
        pass
      try:
        df_event_data['assist'][indice_fila] = event_type['assist'][0]
      except:
        df_event_data['assist'][indice_fila] = ''
        pass
      try:
        df_event_data['bodyPart'][indice_fila] = event_type['bodyPart'][0]
      except:
        df_event_data['bodyPart'][indice_fila] = ''
        pass

      try:
        df_event_data['xg'][indice_fila] = fila['xg']
      except:
        df_event_data['xg'][indice_fila] = '0'
        pass
      try:
        df_event_data['ball_position_x'][indice_fila] = fila['ball_position.x']
      except:
        df_event_data['ball_position_x'][indice_fila] = '0'
        pass
      try:
        df_event_data['ball_position_y'][indice_fila] = fila['ball_position.y']
      except:
        df_event_data['ball_position_y'][indice_fila] = '0'
        pass

    #exporto eventos de cada match
    # columns=['id', 'match_id','team_id','player_id','event_period','event_time','x','y','relative_event.id','eventType','outcome','subEventType','cross','keyPass','assist','bodyPart','ball_position_x','ball_position_y']
    

    df_event_data.rename(columns={'id': "event_id"}, inplace = True)
    df_event_data = pd.merge(df_event_data, df_teams, left_on="team_id", right_on="team_id", how="left", sort=False)
    df_event_data = pd.merge(df_event_data, df_matches, left_on="match_id", right_on="match_id", how="left", sort=False)
    df_event_data = pd.merge(df_event_data, list_team_players, left_on="player_id", right_on="player_id", how="left", sort=False)

    df_event_data['player_id'] = df_event_data['player_id'].fillna(0)
    df_event_data['team_id_x'] = df_event_data['team_id_x'].fillna(0)
    df_event_data['relative_event.id'] = df_event_data['relative_event.id'].fillna(0)

    df_event_data['player_id'] = df_event_data['player_id'].astype(int)
    df_event_data['team_id_x'] = df_event_data['team_id_x'].astype(int)
    df_event_data['relative_event.id'] = df_event_data['relative_event.id'].astype(int)

    df_event_data.rename(columns = {'event_id':'event_id','match_id':'match_id','team_id_x':'team_id','player_id':'player_id','event_period':'event_period','event_time':'event_time','x':'x','y':'y','relative_event.id':'relative_event.id','eventType':'eventType','outcome':'outcome','subEventType':'subEventType','cross':'cross','keyPass':'keyPass','assist':'assist','bodyPart':'bodyPart','name_en':'team_name','iso_country_code_x':'home_team_iso_country_code','round.id':'round_id','round.name':'round_name','season.id':'season_id','season.name':'season_name','season.season_group_name':'season.season_group_name','season.league_id':'league_id','fecha':'fecha','hora':'hora','description_match':'description_match','main_position':'main_position','back_number':'back_number','player_name':'player_name','player_last_name':'player_last_name'}, inplace = True)
    columnas = ['event_id','match_id','team_id','player_id','event_period','event_time','x','y','relative_event.id','eventType','outcome','subEventType','cross','keyPass','assist','bodyPart','ball_position_x','ball_position_y','xg','team_name','home_team_iso_country_code','round_id','round_name','season_id','season_name','season_group_name','league_id','fecha','hora','description_match','main_position','back_number','player_name','player_last_name']
    df_event_data = df_event_data[columnas]
    # df_event_data.rename(columns={'event_id': "id"}, inplace = True)
    # df_event_data.rename(columns={'id_x': "id"}, inplace = True)
    df_event_data2 = pd.merge(df_event_data, df_event_data, left_on='relative_event.id',right_on='event_id',how='left')
    columnas=['event_id_x','match_id_x','team_id_x','player_id_x','relative_event.id_x','player_id_y','x_y','y_y','event_period_x','event_time_x','x_x','y_x','eventType_x','outcome_x','subEventType_x','cross_x','keyPass_x','assist_x','bodyPart_x']
    df_events_relative = df_event_data2[columnas]
    nameColumns = {'event_id_x': 'event_id',
                  'match_id_x': 'match_id',
                  'team_id_x': str('team_id'),
                  'player_id_x': str('player_id'),
                  'event_period_x': 'event_period',
                  'event_time_x': 'event_time',
                  'eventType_x': 'eventType',
                  'outcome_x': 'outcome',
                  'x_x': 'x_start',
                  'y_x': 'y_start',
                  'relative_event.id_x': str('relative_event_id'),
                  'player_id_y': str('relative_player_id'),
                  'x_y': 'x_end',
                  'y_y': 'y_end',
                  'subEventType_x': 'subEventType',
                  'cross_x': 'cross',
                  'keyPass_x': 'keyPass',
                  'assist_x': 'assist',
                  'bodyPart_x': 'bodyPart'}
    df_events_relative.rename(columns = nameColumns, inplace = True)


    columns_sort = ['event_id','match_id','team_id','player_id','event_period','event_time','eventType','outcome','x_start','y_start','relative_event_id','relative_player_id','x_end','y_end','subEventType','cross','keyPass','assist','bodyPart']
    df_events_relative = df_events_relative[columns_sort]


    df_events_relative['team_id'] = df_events_relative['team_id'].fillna(0)
    df_events_relative['player_id'] = df_events_relative['player_id'].fillna(0)
    df_events_relative['relative_event_id'] = df_events_relative['relative_event_id'].fillna(0)
    df_events_relative['relative_player_id'] = df_events_relative['relative_player_id'].fillna(0)

    df_events_relative['team_id'] = df_events_relative['team_id'].astype(int)
    df_events_relative['player_id'] = df_events_relative['player_id'].astype(int)
    df_events_relative['relative_event_id'] = df_events_relative['relative_event_id'].astype(int)
    df_events_relative['relative_player_id'] = df_events_relative['relative_player_id'].astype(int)

    df_event_data.to_csv(URL_BASE+'matches/events/events_'+str(fila['match_id'])+'.csv', index=False)

    df_pass_matrix = df_events_relative[df_events_relative['eventType']=='Pass']
    df_pass_matrix.to_csv(URL_BASE+'matches/pass_matrix/pass_matrix_'+str(fila['match_id'])+'.csv', index=False )

# if(len(df_event_data)>0):
#   columns=['id', 'match_id','team_id','player_id','event_period','event_time','x','y','relative_event.id','eventType','outcome','subEventType','cross','keyPass','assist','bodyPart','ball_position_x','ball_position_y','xg']
#   df_event_data=df_event_data[columns]
#   df_event_data_new = df_event_data.copy()
#   # df_event_data.head(120)
#   len(df_event_data)

In [516]:
df_event_data.head()

Empty DataFrame
Columns: []
Index: []

In [517]:
len(df_event_data)

0

In [518]:
df_event_data.head(1)

Empty DataFrame
Columns: []
Index: []

In [519]:
len(df_matches_new)

64

In [520]:
df_matches_new.head(1)

,match_id,season_id,league_id,is_analysis_finished,home_team_id,away_team_id,home_team_score,away_team_score,start_time
0,135375,3364,2154,False,7757,7939,0,0,2024-06-01 16:30:00+02:00

In [521]:
len(df_matches_new)

64

In [522]:
#POR CADA PARTIDO SOLICITADO ANTERIORMENTE HACEMOS UNA LLAMADA A LA API PIDIENDO LAS FORMACIONES


if(len(df_matches_new)>0):
  for indice_fila, fila in df_matches_new.iterrows():
    #ESTE WHILE VA PORQUE POR CADA RESPUESTA DE LA API NO DUVUELVE MAS DE 1000 RESULTADOS
    total=1000
    offset=0

    if(os.path.exists(URL_BASE+'matches/formations/formations_'+str(fila['match_id'])+'.csv')== False):
      list_formations = pd.DataFrame()

      while total==1000:
        offset=offset+1000

        #https://staging.data-api.bepro11.com/api/matches/32266/event_data
        formation = getResults('/matches/' + str(fila['match_id']) + '/formation',{'limit':5000,'offset':offset})
        offset=offset+1000

        hay_para_cargar='si'
        try:
          if(formation['detail'] == 'Match is not analyzed' or formation['detail'] == 'Not found.'):
            hay_para_cargar='no'
        except:
          hay_para_cargar='si'
          pass

        if(hay_para_cargar=='si'):
          #print(event_data['result'])
          ed = json_normalize(formation['result'])

          total=len(ed)

          ed['match_id']=fila['match_id']
          list_formations = pd.concat([list_formations,ed])
        else:
          total=1
      if(len(list_formations)>0):
        list_formations.to_csv(URL_BASE+'matches/formations/formations_'+str(fila['match_id'])+'.csv', index=False)

      # list_formations.head(20)
      # len(list_formations)

In [523]:

  # df_event_data.rename(columns={'event_id': "id"}, inplace = True)
  # df_event_data.rename(columns={'registro_id': "id"}, inplace = True)

In [524]:
# len(df_formations)

In [525]:
# df_formations.rename(columns={'registro_id': "id"}, inplace = True)

In [526]:
# df_formations.to_csv(URL_BASE_DRIVE+'formations2_.csv')

In [527]:
#POR CADA PARTIDO SOLICITADO ANTERIORMENTE HACEMOS UNA LLAMADA A LA API PIDIENDO LAS ALINEACIONES

if(len(df_matches_new)>0):
  for indice_fila, fila in df_matches_new.iterrows():
    #ESTE WHILE VA PORQUE POR CADA RESPUESTA DE LA API NO DUVUELVE MAS DE 1000 RESULTADOS
    total=1000
    offset=0

    list_lineup = pd.DataFrame()

    if(os.path.exists(URL_BASE+'matches/lineups/lineups_'+str(fila['match_id'])+'.csv')== False):

      while total==1000:

        #https://staging.data-api.bepro11.com/api/matches/32266/lineup
        lineup = getResults('/matches/' + str(fila['match_id']) + '/lineup',{'limit':5000,'offset':offset})

        offset=offset+1000
        hay_para_cargar='si'
        try:
          if(lineup['detail'] == 'Match is not analyzed' or lineup['detail'] == 'Not found.'):
            hay_para_cargar='no'
        except:
          hay_para_cargar='si'
          pass

        if(hay_para_cargar=='si'):
          #print(event_data['result'])
          ed = json_normalize(lineup['result'])

          total=len(ed)

          ed['match_id']=fila['match_id']
          list_lineup = pd.concat([list_lineup,ed])
        else:
          total=1

      if(len(list_lineup)>0):
        columnas = ['id',	'match_id',	'team_id',	'player_id',	'position_name',	'back_number',	'player_name',	'player_last_name',	'is_starting_lineup',	'position.x',	'position.y']
        df_lineup = list_lineup[columnas]

      if(len(df_lineup)>0):
        df_lineup.to_csv(URL_BASE+'matches/lineups/lineups_'+str(fila['match_id'])+'.csv', index=False)
    

    # df_lineup.head(20)
    # len(df_lineup)

In [528]:
# df_lineup.to_csv(URL_BASE_DRIVE+'lineup_.csv')

In [529]:
#POR CADA PARTIDO SOLICITADO ANTERIORMENTE HACEMOS UNA LLAMADA A LA API PIDIENDO LAS STATS DE CADA JUGADOR


def expand_players(row):
    team_id = row['team_id']
    match_id = row['match_id']
    players = literal_eval(row['players']) if isinstance(row['players'], str) else row['players']
    
    return pd.DataFrame([
        {**{'team_id': team_id, 'match_id': match_id, 'player_id': player['player_id']}, 
         **player['stats']}
        for player in players
    ])

if(len(df_matches_new)>0):
  for indice_fila, fila in df_matches_new.iterrows():

    #ESTE WHILE VA PORQUE POR CADA RESPUESTA DE LA API NO DUVUELVE MAS DE 1000 RESULTADOS
    total=1000
    offset=0

    list_player_stats = pd.DataFrame()

    if(os.path.exists(URL_BASE+'matches/player_stats/player_stats_'+str(fila['match_id'])+'.csv')== False):

      while total==1000:
        offset=offset+1000

        #https://staging.data-api.bepro11.com/api/matches/32266/lineup
        player_stats = getResults('/matches/' + str(fila['match_id']) + '/player_stats',{'limit':5000,'offset':offset})
        # print(event_data['detail'])
        hay_para_cargar='no'
        try:
          if(player_stats['detail'] == 'Match is not analyzed' or player_stats['detail'] == 'Not found.'):
            hay_para_cargar='no'
        except:
          hay_para_cargar='si'
          pass

        if(hay_para_cargar=='si'):

          ed = json_normalize(player_stats['result'])

          total=len(ed)

          ed['match_id']=fila['match_id']
          list_player_stats = pd.concat([list_player_stats,ed])
        else:
          total=1
      if(len(list_player_stats)>0):
        # Asumiendo que tu DataFrame original se llama 'df'
        expanded_df = pd.concat([expand_players(row) for _, row in list_player_stats.iterrows()], ignore_index=True)

        expanded_df.to_csv(URL_BASE+'matches/player_stats/player_stats_'+str(fila['match_id'])+'.csv', index=False)


  # columnas = ['team_id','player_id','aerial_clearance','aerial_clearance_succeeded','aerial_duel','aerial_duel_succeeded','assist','backward_pass','backward_pass_succeeded','block','clearance','control_under_pressure','corner_kick','cross','cross_succeeded','defensive_area_pass','defensive_area_pass_succeeded','final_third_area_pass','final_third_area_pass_succeeded','forward_pass','forward_pass_succeeded','foul','foul_won','free_kick','goal','goal_conceded','goal_kick','goal_kick_succeeded','ground_duel','ground_duel_succeeded','intercept','intervention','key_pass','long_pass','long_pass_succeeded','medium_range_pass','medium_range_pass_succeeded','middle_area_pass','middle_area_pass_succeeded','mistake','offside','own_goal','pass','pass_succeeded','play_time','rating','recovery','red_card','save_by_catching','save_by_punching','short_pass','short_pass_succeeded','shot_blocked','shot_in_PA','shot_off_target','shot_on_target','shot_outside_of_PA','sideways_pass','sideways_pass_succeeded','tackle','tackle_succeeded','take_on','take_on_succeeded','throw_in','total_shot','yellow_card']
  # df_player_stats = list_player_stats[columnas]

  # df_player_stats.head(20)
  # list_player_stats.head(20)
  # print(len(list_player_stats))

In [530]:
list_player_stats.head(1)

Empty DataFrame
Columns: []
Index: []

In [531]:
# list_player_stats.to_csv(URL_BASE_DRIVE+'list_player_stats_.csv')

In [532]:
# df_player_stats.to_csv(URL_BASE_DRIVE+'players_stats_.csv')

In [533]:
#POR CADA PARTIDO SOLICITADO ANTERIORMENTE HACEMOS UNA LLAMADA A LA API PIDIENDO LAS SECUENCIAS DE LOS EVENTOS


if(len(df_matches_new)>0):
  for indice_fila, fila in df_matches_new.iterrows():

    total=1000
    offset=0

    list_sequence_data = pd.DataFrame()
    if(os.path.exists(URL_BASE+'matches/sequence_data/sequence_data_'+str(fila['match_id'])+'.csv')== False):
      while total==1000:
        offset=offset+1000
        #https://staging.data-api.bepro11.com/api/matches/32266/lineup
        sequence_data = getResults('/matches/' + str(fila['match_id']) + '/sequence_data',{'limit':5000,'offset':offset})
        #print(event_data['result'])

        hay_para_cargar='no'
        try:
          if(sequence_data['detail'] == 'Match is not analyzed' or sequence_data['detail'] == 'Not found.'):
            hay_para_cargar='no'
        except:
          hay_para_cargar='si'
          pass

        if(hay_para_cargar=='si'):

          ed = json_normalize(sequence_data['result'])

          total=len(ed)

          ed['match_id']=fila['match_id']

          list_sequence_data = pd.concat([list_sequence_data,ed])
        else:
          total=1

      if(len(list_sequence_data)>0):
        columnas = ['team_id','match_id','event_period','start_time','end_time','event_ids']
        df_sequence_data = list_sequence_data[columnas]

        df_sequence_data.to_csv(URL_BASE+'matches/sequence_data/sequence_data_'+str(fila['match_id'])+'.csv', index=False)

    # df_sequence_data.head(20)
    # len(df_sequence_data)

In [534]:
len(df_matches_new)

64

In [535]:
# df_sequence_data.to_csv(URL_BASE_DRIVE+'sequence_data_.csv')

In [536]:
#POR CADA PARTIDO SOLICITADO ANTERIORMENTE HACEMOS UNA LLAMADA A LA API PIDIENDO LAS ESTADISTICAS POR EQUIPO
# df_team_stats = pd.DataFrame()

if(len(df_matches_new)>0):
  for indice_fila, fila in df_matches_new.iterrows():

    df_team_stats = pd.DataFrame()
    if(os.path.exists(URL_BASE+'matches/team_stats/team_stats_'+str(fila['match_id'])+'.csv')== False):
      #https://staging.data-api.bepro11.com/api/matches/32266/lineup
      team_stats = getResults('/matches/' + str(fila['match_id']) + '/team_stats')
      #print(event_data['detail'])

      hay_para_cargar='no'
      try:
        if(team_stats['detail'] == 'Match is not analyzed' or team_stats['detail'] == 'Not found.'):
          hay_para_cargar='no'
      except:
        hay_para_cargar='si'
        pass

      if(hay_para_cargar=='si'):
        if(team_stats['result']):
          ed = json_normalize(team_stats['result'])
          ed['match_id']=fila['match_id']

          df_team_stats = pd.concat([df_team_stats,ed])
      else:
          total=1


      dict = {'team_id': 'team_id',
            'match_id': 'match_id',
            'stats.aerial_clearance': 'stats.aerial_clearance',
            'stats.aerial_clearance_succeeded': 'aerial_clearance_succeeded',
            'stats.aerial_duel': 'aerial_duel',
            'stats.aerial_duel_succeeded': 'aerial_duel_succeeded',
            'stats.assist': 'assist',
            'stats.backward_pass': 'backward_pass',
            'stats.backward_pass_succeeded': 'backward_pass_succeeded',
            'stats.block': 'block',
            'stats.clearance': 'clearance',
            'stats.control_under_pressure': 'control_under_pressure',
            'stats.corner_kick': 'corner_kick',
            'stats.cross': 'cross',
            'stats.cross_succeeded': 'cross_succeeded',
            'stats.defensive_area_pass': 'defensive_area_pass',
            'stats.defensive_area_pass_succeeded': 'defensive_area_pass_succeeded',
            'stats.final_third_area_pass': 'final_third_area_pass',
            'stats.final_third_area_pass_succeeded': 'final_third_area_pass_succeeded',
            'stats.forward_pass': 'forward_pass',
            'stats.forward_pass_succeeded': 'forward_pass_succeeded',
            'stats.foul': 'foul',
            'stats.foul_won': 'foul_won',
            'stats.free_kick': 'free_kick',
            'stats.goal': 'goal',
            'stats.goal_conceded': 'goal_conceded',
            'stats.goal_kick': 'goal_kick',
            'stats.goal_kick_succeeded': 'goal_kick_succeeded',
            'stats.ground_duel': 'ground_duel',
            'stats.ground_duel_succeeded': 'ground_duel_succeeded',
            'stats.intercept': 'intercept',
            'stats.intervention': 'intervention',
            'stats.key_pass': 'key_pass',
            'stats.long_pass': 'long_pass',
            'stats.long_pass_succeeded': 'long_pass_succeeded',
            'stats.medium_range_pass': 'medium_range_pass',
            'stats.medium_range_pass_succeeded': 'medium_range_pass_succeeded',
            'stats.middle_area_pass': 'middle_area_pass',
            'stats.middle_area_pass_succeeded': 'middle_area_pass_succeeded',
            'stats.mistake': 'mistake',
            'stats.offside': 'offside',
            'stats.own_goal': 'own_goal',
            'stats.pass': 'pass',
            'stats.pass_succeeded': 'pass_succeeded',
            'stats.possession': 'possession',
            'stats.recovery': 'recovery',
            'stats.red_card': 'red_card',
            'stats.save_by_catching': 'save_by_catching',
            'stats.save_by_punching': 'save_by_punching',
            'stats.short_pass': 'short_pass',
            'stats.short_pass_succeeded': 'short_pass_succeeded',
            'stats.shot_blocked': 'shot_blocked',
            'stats.shot_in_PA': 'shot_in_PA',
            'stats.shot_off_target': 'shot_off_target',
            'stats.shot_on_target': 'shot_on_target',
            'stats.shot_outside_of_PA': 'shot_outside_of_PA',
            'stats.sideways_pass': 'sideways_pass',
            'stats.sideways_pass_succeeded': 'sideways_pass_succeeded',
            'stats.tackle': 'tackle',
            'stats.tackle_succeeded': 'tackle_succeeded',
            'stats.take_on': 'take_on',
            'stats.take_on_succeeded': 'take_on_succeeded',
            'stats.throw_in': 'throw_in',
            'stats.total_shot': 'total_shot',
            'stats.yellow_card': 'yellow_card'}

      if(len(df_team_stats)>0):
        # call rename () method
        df_team_stats.rename(columns=dict,
                  inplace=True)
        
        df_team_stats.to_csv(URL_BASE+'matches/team_stats/team_stats_'+str(fila['match_id'])+'.csv', index=False)

    # df_team_stats.head(20)
    # print(len(df_team_stats))

In [537]:
# # Directorio donde se encuentran tus archivos CSV
# path = URL_BASE + 'matches/matches/'
# # Usa glob para obtener todos los archivos CSV en la carpeta
# all_files = glob.glob(os.path.join(path, "*.csv"))
# # Lista para almacenar los dataframes
# li = []
# # Recorre todos los archivos y lee cada CSV
# for filename in all_files:
#     df = pd.read_csv(filename, index_col=None, header=0)
#     li.append(df)

# # Combina todos los dataframes en uno solo
# frame = pd.concat(li, axis=0, ignore_index=True)
# # Guarda el dataframe combinado en un nuevo archivo CSV
# frame.to_csv(URL_BASE + "matches_all.csv", index=False)

# print(f"Se han combinado {len(all_files)} archivos CSV.")
# print(f"El archivo combinado tiene {len(frame)} filas y {len(frame.columns)} columnas.")
# print(f"El archivo combinado se ha guardado como 'matches_all.csv'")

In [538]:
directory = ['events','matches','formations','lineups','pass_matrix','player_stats','sequence_data','team_stats']
# directory = ['events']
for i in directory:
    # Directorio donde se encuentran tus archivos CSV
    path = URL_BASE + 'matches/'+i+'/'
    # Usa glob para obtener todos los archivos CSV en la carpeta
    all_files = glob.glob(os.path.join(path, "*.csv"))
    # Lista para almacenar los dataframes
    li = []
    print(path)
    # Recorre todos los archivos y lee cada CSV
    for filename in all_files:
        df = pd.read_csv(filename, index_col=None, header=0)
        li.append(df)

    # Combina todos los dataframes en uno solo
    frame = pd.concat(li, axis=0, ignore_index=True)
    # Guarda el dataframe combinado en un nuevo archivo CSV
    frame.to_csv(URL_BASE + i + "_all.csv", index=False)

    print(f"Se han combinado {len(all_files)} archivos CSV.")
    print(f"El archivo combinado tiene {len(frame)} filas y {len(frame.columns)} columnas.")
    print(f"El archivo combinado se ha guardado como '{i}_all.csv'")

CSV/BEPRO/Data/matches/events/
Se han combinado 27 archivos CSV.
El archivo combinado tiene 290166 filas y 34 columnas.
El archivo combinado se ha guardado como 'events_all.csv'
CSV/BEPRO/Data/matches/matches/
Se han combinado 11 archivos CSV.
El archivo combinado tiene 729 filas y 33 columnas.
El archivo combinado se ha guardado como 'matches_all.csv'
CSV/BEPRO/Data/matches/formations/
Se han combinado 27 archivos CSV.
El archivo combinado tiene 222 filas y 6 columnas.
El archivo combinado se ha guardado como 'formations_all.csv'
CSV/BEPRO/Data/matches/lineups/
Se han combinado 63 archivos CSV.
El archivo combinado tiene 2174 filas y 11 columnas.
El archivo combinado se ha guardado como 'lineups_all.csv'
CSV/BEPRO/Data/matches/pass_matrix/
Se han combinado 27 archivos CSV.
El archivo combinado tiene 677369 filas y 19 columnas.
El archivo combinado se ha guardado como 'pass_matrix_all.csv'
CSV/BEPRO/Data/matches/player_stats/
Se han combinado 27 archivos CSV.
El archivo combinado tiene 824 filas y 78 columnas.
El archivo combinado se ha guardado como 'player_stats_all.csv'
CSV/BEPRO/Data/matches/sequence_data/
Se han combinado 27 archivos CSV.
El archivo combinado tiene 15524 filas y 6 columnas.
El archivo combinado se ha guardado como 'sequence_data_all.csv'
CSV/BEPRO/Data/matches/team_stats/
Se han combinado 27 archivos CSV.
El archivo combinado tiene 53 filas y 76 columnas.
El archivo combinado se ha guardado como 'team_stats_all.csv'

In [539]:
# directory = ['players_seasons','teams_seasons']
# for i in directory:
#     # Directorio donde se encuentran tus archivos CSV
#     path = URL_BASE + 'seasons/'+i+'/'
#     # Usa glob para obtener todos los archivos CSV en la carpeta
#     all_files = glob.glob(os.path.join(path, "*.csv"))
#     # Lista para almacenar los dataframes
#     li = []
#     # Recorre todos los archivos y lee cada CSV
#     for filename in all_files:
#         df = pd.read_csv(filename, index_col=None, header=0)
#         li.append(df)

#     # Combina todos los dataframes en uno solo
#     frame = pd.concat(li, axis=0, ignore_index=True)
#     # Guarda el dataframe combinado en un nuevo archivo CSV
#     frame.to_csv(URL_BASE + i + "_all.csv", index=False)

#     print(f"Se han combinado {len(all_files)} archivos CSV.")
#     print(f"El archivo combinado tiene {len(frame)} filas y {len(frame.columns)} columnas.")
#     print(f"El archivo combinado se ha guardado como '{i}_all.csv'")

In [540]:
# df_matches = pd.read_csv(URL_BASE + "matches_all.csv")
# df_matches1605 = pd.read_csv(URL_BASE + "matches/matches/matches_seasons_1605.csv")
# df_matches3362 = pd.read_csv(URL_BASE + "matches/matches/matches_seasons_3362.csv")

# print(len(df_matches))
# print(len(df_matches1605))
# print(len(df_matches3362))

In [541]:
# df_pass_matrix.columns

In [542]:
# primera_vez = 'no'
# #SI NO EXISTE EL CSV DE TEAMS LO GUARDO
# if(os.path.exists(URL_BASE_DRIVE+'teams__.csv') == False):
#   df_teams = df_teams.reset_index(drop=True)
#   columns = ['id','name','name_en','iso_country_code','player_ids']
#   df_teams = df_teams[columns]

#   df_teams.to_csv(URL_BASE_DRIVE+'teams__.csv')

# #SI NO EXISTE EL CSV DE PLAYERS LO GUARDO
# if(os.path.exists(URL_BASE_DRIVE+'team_players__.csv') == False):
#   df_team_players = df_team_players.reset_index(drop=True)
#   columns = ['id','team_id','main_position','back_number','player_name','player_last_name','player_role','name','iso_country_code']
#   df_team_players = df_team_players[columns]
#   df_team_players.to_csv(URL_BASE_DRIVE+'team_players__.csv')

# #SI EXISTE EL CSV DE PARTIDOS LO ELIMINO Y GUARDO EL NUEVO
# if(os.path.exists(URL_BASE_DRIVE+'matches__.csv')):
#   os.remove(URL_BASE_DRIVE+"matches__.csv")
#   df_matches = df_matches.reset_index(drop=True)
#   columns = ['id','start_time','extra_full_time','extra_match_result','venue','round.id','round.name','season.id','season.name','season.season_group_name','season.league_id','live_analysing','home_team_id','home_team_name','home_team_iso_country_code','away_team_id','away_team_name','away_team_iso_country_code','home_team_score','away_team_score','is_analysis_finished','fecha','hora','description_match']
#   df_matches = df_matches[columns]
#   df_matches.to_csv(URL_BASE_DRIVE+'matches__.csv')
# else:
#   df_matches = df_matches.reset_index(drop=True)
#   columns = ['id','start_time','extra_full_time','extra_match_result','venue','round.id','round.name','season.id','season.name','season.season_group_name','season.league_id','live_analysing','home_team_id','home_team_name','home_team_iso_country_code','away_team_id','away_team_name','away_team_iso_country_code','home_team_score','away_team_score','is_analysis_finished','fecha','hora','description_match']
#   df_matches = df_matches[columns]
#   df_matches.to_csv(URL_BASE_DRIVE+'matches__.csv')

# #SI EXISTE EL CSV DE EVENT DATA TOMO EL QUE ESTABA GUARDADO Y LO UNO CON LO NUEVO, AL ARCHIVO GUARDADO LO ELIMINO Y GUARDO EL NUEVO
# if(os.path.exists(URL_BASE_DRIVE+'event_data__.csv')):
#   #sumo a los que estaba lo nuevo
#   # event_data_endrive = pd.read_csv(URL_BASE_DRIVE+'event_data__.csv')
#   #UNO EL DF QUE TENIA GUARDADO CON EL NUEVO
#   list_event_data2 = pd.concat([event_data_endrive,df_event_data])
#     #% Marcos: inclu铆 drop=True
#   list_event_data2 = list_event_data2.reset_index(drop=True)
#   #ELIMINO EL QUE TENGO EN EL DRIVE
#   os.remove(URL_BASE_DRIVE+"event_data__.csv")

#   list_event_data2 = list_event_data2.reset_index(drop=True)
#   columns = ['event_id','match_id','team_id','player_id','event_period','event_time','x','y','relative_event.id','eventType','outcome','subEventType','cross','keyPass','assist','bodyPart','ball_position_x','ball_position_y','xg','team_name','team_iso_country_code','round.id','round.name','season.id','season.name','season.season_group_name','season.league_id','fecha','hora','description_match','main_position','back_number','player_name','player_last_name']
#   list_event_data2 = list_event_data2[columns]
#   #ESRIBO EL NUEVO CSV
#   list_event_data2.to_csv(URL_BASE_DRIVE+'event_data__.csv')
# else:
#   df_event_data = df_event_data.reset_index(drop=True)
#   columns = ['event_id','match_id','team_id','player_id','event_period','event_time','x','y','relative_event.id','eventType','outcome','subEventType','cross','keyPass','assist','bodyPart','ball_position_x','ball_position_y','xg','team_name','team_iso_country_code','round.id','round.name','season.id','season.name','season.season_group_name','season.league_id','fecha','hora','description_match','main_position','back_number','player_name','player_last_name']
#   df_event_data = df_event_data[columns]
#   df_event_data.to_csv(URL_BASE_DRIVE+'event_data__.csv')
#   primera_vez = 'si'

# #SI EXISTE EL CSV DE FORMATIONS TOMO EL QUE ESTABA GUARDADO Y LO UNO CON LO NUEVO, AL ARCHIVO GUARDADO LO ELIMINO Y GUARDO EL NUEVO
# if(os.path.exists(URL_BASE_DRIVE+'formations__.csv')):
#   #sumo a los que estaba lo nuevo
#   # event_data_endrive = pd.read_csv(URL_BASE_DRIVE+'formations__.csv')
#   #UNO EL DF QUE TENIA GUARDADO CON EL NUEVO
#   df_new = pd.concat([df_formations_endrive,df_formations])
#   #ELIMINO EL QUE TENGO EN EL DRIVE
#   os.remove(URL_BASE_DRIVE+"formations__.csv")

#   # df_new = df_formations.reset_index(drop=True)
#   columns = ['id','team_id','match_id','event_period','changed_time','player_id','x','y','team_name','team_iso_country_code','round.id','round.name','season.id','season.name','season.season_group_name','season.league_id','fecha','hora','description_match','main_position','back_number','player_name','player_last_name']
#   df_new = df_new[columns]
#   #ESRIBO EL NUEVO CSV
#   df_new.to_csv(URL_BASE_DRIVE+'formations__.csv')
# else:
#   df_formations = df_formations.reset_index(drop=True)
#   columns = ['id','team_id','match_id','event_period','changed_time','player_id','x','y','team_name','team_iso_country_code','round.id','round.name','season.id','season.name','season.season_group_name','season.league_id','fecha','hora','description_match','main_position','back_number','player_name','player_last_name']
#   df_formations = df_formations[columns]
#   df_formations.to_csv(URL_BASE_DRIVE+'formations__.csv')

# #SI EXISTE EL CSV DE LINEUP TOMO EL QUE ESTABA GUARDADO Y LO UNO CON LO NUEVO, AL ARCHIVO GUARDADO LO ELIMINO Y GUARDO EL NUEVO
# if(os.path.exists(URL_BASE_DRIVE+'lineup__.csv')):
#   #sumo a los que estaba lo nuevo
#   # event_data_endrive = pd.read_csv(URL_BASE_DRIVE+'lineup__.csv')
#   #UNO EL DF QUE TENIA GUARDADO CON EL NUEVO
#   df_new = pd.concat([df_lineup_endrive,df_lineup])
#   #ELIMINO EL QUE TENGO EN EL DRIVE
#   os.remove(URL_BASE_DRIVE+"lineup__.csv")

#   df_new = df_new.reset_index(drop=True)
#   columns = ['id','match_id','team_id','player_id','position_name','back_number','player_name','player_last_name','is_starting_lineup','position.x','position.y']
#   df_new = df_new[columns]
#   #ESRIBO EL NUEVO CSV
#   df_new.to_csv(URL_BASE_DRIVE+'lineup__.csv')
# else:
#   df_lineup = df_lineup.reset_index(drop=True)
#   columns = ['id','match_id','team_id','player_id','position_name','back_number','player_name','player_last_name','is_starting_lineup','position.x','position.y']
#   df_lineup = df_lineup[columns]
#   df_lineup.to_csv(URL_BASE_DRIVE+'lineup__.csv')

# #SI EXISTE EL CSV DE SEQUENCE DATA TOMO EL QUE ESTABA GUARDADO Y LO UNO CON LO NUEVO, AL ARCHIVO GUARDADO LO ELIMINO Y GUARDO EL NUEVO
# if(os.path.exists(URL_BASE_DRIVE+'sequence_data__.csv')):
#   #sumo a los que estaba lo nuevo
#   # event_data_endrive = pd.read_csv(URL_BASE_DRIVE+'sequence_data__.csv')
#   #UNO EL DF QUE TENIA GUARDADO CON EL NUEVO
#   df_new = pd.concat([df_sequence_data_endrive,df_sequence_data])

#   #ELIMINO EL QUE TENGO EN EL DRIVE
#   os.remove(URL_BASE_DRIVE+"sequence_data__.csv")
#   df_new = df_new.reset_index(drop=True)
#   columns = ['team_id','match_id','event_period','start_time','end_time','event_ids']
#   df_new = df_new[columns]
#   #ESRIBO EL NUEVO CSV
#   df_new.to_csv(URL_BASE_DRIVE+'sequence_data__.csv')
# else:
#   df_sequence_data = df_sequence_data.reset_index(drop=True)
#   columns = ['team_id','match_id','event_period','start_time','end_time','event_ids']
#   df_sequence_data = df_sequence_data[columns]
#   df_sequence_data.to_csv(URL_BASE_DRIVE+'sequence_data__.csv')

# #SI EXISTE EL CSV DE PLAYER STATS TOMO EL QUE ESTABA GUARDADO Y LO UNO CON LO NUEVO, AL ARCHIVO GUARDADO LO ELIMINO Y GUARDO EL NUEVO
# if(os.path.exists(URL_BASE_DRIVE+'player_stats__.csv')):
#   #sumo a los que estaba lo nuevo
#   # event_data_endrive = pd.read_csv(URL_BASE_DRIVE+'player_stats__.csv')
#   #UNO EL DF QUE TENIA GUARDADO CON EL NUEVO
#   df_new = pd.concat([df_player_stats_endrive,df_player_stats])
#   #ELIMINO EL QUE TENGO EN EL DRIVE
#   os.remove(URL_BASE_DRIVE+"player_stats__.csv")
#   df_new = df_new.reset_index(drop=True)
#   columns = ['team_id','match_id','player_id','aerial_clearance','aerial_clearance_succeeded','aerial_duel','aerial_duel_succeeded','assist','backward_pass','backward_pass_succeeded','block','clearance','control_under_pressure','corner_kick','cross','cross_succeeded','defensive_area_pass','defensive_area_pass_succeeded','final_third_area_pass','final_third_area_pass_succeeded','forward_pass','forward_pass_succeeded','foul','foul_won','free_kick','goal','goal_conceded','goal_kick','goal_kick_succeeded','ground_duel','ground_duel_succeeded','intercept','intervention','key_pass','long_pass','long_pass_succeeded','medium_range_pass','medium_range_pass_succeeded','middle_area_pass','middle_area_pass_succeeded','mistake','offside','own_goal','pass','pass_succeeded','play_time','rating','recovery','red_card','save_by_catching','save_by_punching','short_pass','short_pass_succeeded','shot_blocked','shot_in_PA','shot_off_target','shot_on_target','shot_outside_of_PA','sideways_pass','sideways_pass_succeeded','tackle','tackle_succeeded','take_on','take_on_succeeded','throw_in','total_shot','yellow_card','team_name','round.id','round.name','season.id','season.name','season.season_group_name','season.league_id','fecha','hora','description_match','main_position','back_number','player_name','player_last_name']
#   df_new = df_new[columns]
#   #ESRIBO EL NUEVO CSV
#   df_new.to_csv(URL_BASE_DRIVE+'player_stats__.csv')
# else:
#   df_player_stats = df_player_stats.reset_index(drop=True)
#   columns = ['team_id','match_id','player_id','aerial_clearance','aerial_clearance_succeeded','aerial_duel','aerial_duel_succeeded','assist','backward_pass','backward_pass_succeeded','block','clearance','control_under_pressure','corner_kick','cross','cross_succeeded','defensive_area_pass','defensive_area_pass_succeeded','final_third_area_pass','final_third_area_pass_succeeded','forward_pass','forward_pass_succeeded','foul','foul_won','free_kick','goal','goal_conceded','goal_kick','goal_kick_succeeded','ground_duel','ground_duel_succeeded','intercept','intervention','key_pass','long_pass','long_pass_succeeded','medium_range_pass','medium_range_pass_succeeded','middle_area_pass','middle_area_pass_succeeded','mistake','offside','own_goal','pass','pass_succeeded','play_time','rating','recovery','red_card','save_by_catching','save_by_punching','short_pass','short_pass_succeeded','shot_blocked','shot_in_PA','shot_off_target','shot_on_target','shot_outside_of_PA','sideways_pass','sideways_pass_succeeded','tackle','tackle_succeeded','take_on','take_on_succeeded','throw_in','total_shot','yellow_card','team_name','round.id','round.name','season.id','season.name','season.season_group_name','season.league_id','fecha','hora','description_match','main_position','back_number','player_name','player_last_name']
#   df_player_stats = df_player_stats[columns]
#   df_player_stats.to_csv(URL_BASE_DRIVE+'player_stats__.csv')

# #SI EXISTE EL CSV DE TEAM STATS TOMO EL QUE ESTABA GUARDADO Y LO UNO CON LO NUEVO, AL ARCHIVO GUARDADO LO ELIMINO Y GUARDO EL NUEVO
# if(os.path.exists(URL_BASE_DRIVE+'team_stats__.csv')):
#   #sumo a los que estaba lo nuevo
#   # event_data_endrive = pd.read_csv(URL_BASE_DRIVE+'team_stats__.csv')
#   #UNO EL DF QUE TENIA GUARDADO CON EL NUEVO
#   df_new = pd.concat([df_team_stats_endrive,df_team_stats])
#   #ELIMINO EL QUE TENGO EN EL DRIVE
#   os.remove(URL_BASE_DRIVE+"team_stats__.csv")
#   df_new = df_new.reset_index(drop=True)
#   columns = ['team_id','match_id','goal','total_shot','shot_on_target','shot_off_target','shot_blocked','shot_in_PA','shot_outside_of_PA','free_kick','corner_kick','throw_in','pass','pass_succeeded','assist','key_pass','control_under_pressure','cross','cross_succeeded','final_third_area_pass','final_third_area_pass_succeeded','middle_area_pass','middle_area_pass_succeeded','defensive_area_pass','defensive_area_pass_succeeded','short_pass','short_pass_succeeded','medium_range_pass','medium_range_pass_succeeded','long_pass','long_pass_succeeded','forward_pass','forward_pass_succeeded','backward_pass','backward_pass_succeeded','sideways_pass','sideways_pass_succeeded','tackle','tackle_succeeded','aerial_duel','aerial_duel_succeeded','ground_duel','ground_duel_succeeded','intercept','clearance','recovery','intervention','take_on','take_on_succeeded','mistake','block','foul','foul_won','offside','yellow_card','red_card','own_goal','goal_conceded','goal_kick','goal_kick_succeeded','stats.aerial_clearance','aerial_clearance_succeeded','save_by_catching','save_by_punching','possession','team_name','round.id','round.name','season.id','season.name','season.season_group_name','season.league_id','fecha','hora','description_match']
#   df_new = df_new[columns]
#   #ESRIBO EL NUEVO CSV
#   df_new.to_csv(URL_BASE_DRIVE+'team_stats__.csv')
# else:
#   df_team_stats = df_team_stats.reset_index(drop=True)
#   columns = ['team_id','match_id','goal','total_shot','shot_on_target','shot_off_target','shot_blocked','shot_in_PA','shot_outside_of_PA','free_kick','corner_kick','throw_in','pass','pass_succeeded','assist','key_pass','control_under_pressure','cross','cross_succeeded','final_third_area_pass','final_third_area_pass_succeeded','middle_area_pass','middle_area_pass_succeeded','defensive_area_pass','defensive_area_pass_succeeded','short_pass','short_pass_succeeded','medium_range_pass','medium_range_pass_succeeded','long_pass','long_pass_succeeded','forward_pass','forward_pass_succeeded','backward_pass','backward_pass_succeeded','sideways_pass','sideways_pass_succeeded','tackle','tackle_succeeded','aerial_duel','aerial_duel_succeeded','ground_duel','ground_duel_succeeded','intercept','clearance','recovery','intervention','take_on','take_on_succeeded','mistake','block','foul','foul_won','offside','yellow_card','red_card','own_goal','goal_conceded','goal_kick','goal_kick_succeeded','stats.aerial_clearance','aerial_clearance_succeeded','save_by_catching','save_by_punching','possession','team_name','round.id','round.name','season.id','season.name','season.season_group_name','season.league_id','fecha','hora','description_match']
#   df_team_stats = df_team_stats[columns]
#   df_team_stats.to_csv(URL_BASE_DRIVE+'team_stats__.csv')

# #SI EXISTE EL CSV DE PASS MATRIX TOMO EL QUE ESTABA GUARDADO Y LO UNO CON LO NUEVO, AL ARCHIVO GUARDADO LO ELIMINO Y GUARDO EL NUEVO
# if(os.path.exists(URL_BASE_DRIVE+'pass_matrix__.csv')):
#   #sumo a los que estaba lo nuevo
#   # event_data_endrive = pd.read_csv(URL_BASE_DRIVE+'pass_matrix__.csv')
#   #UNO EL DF QUE TENIA GUARDADO CON EL NUEVO
#   df_new = pd.concat([df_pass_matrix_endrive,df_pass_matrix])
#   #ELIMINO EL QUE TENGO EN EL DRIVE
#   os.remove(URL_BASE_DRIVE+"pass_matrix__.csv")

#   df_new = df_new.reset_index(drop=True)
#   columns = ['event_id','team_id','match_id','player_id','event_period','event_time','eventType','outcome','x_start','y_start','relative_event_id','relative_player_id','x_end','y_end','subEventType','cross','keyPass','assist','bodyPart','team_name','iso_country_code','round.id','round.name','season.id','season.name','season.league_id','fecha','hora','description_match','player_position','player_back_number','player_name','player_last_name','player_relative_main_position','player_relative_back_number','player_relative_player_name','player_relative_last_name']
#   df_new = df_new[columns]

#   #ESRIBO EL NUEVO CSV
#   df_new.to_csv(URL_BASE_DRIVE+'pass_matrix__.csv')
# else:
#   df_pass_matrix = df_pass_matrix.reset_index(drop=True)
#   columns = ['event_id','team_id','match_id','player_id','event_period','event_time','eventType','outcome','x_start','y_start','relative_event_id','relative_player_id','x_end','y_end','subEventType','cross','keyPass','assist','bodyPart','team_name','iso_country_code','round.id','round.name','season.id','season.name','season.league_id','fecha','hora','description_match','player_position','player_back_number','player_name','player_last_name','player_relative_main_position','player_relative_back_number','player_relative_player_name','player_relative_last_name']
#   df_pass_matrix = df_pass_matrix[columns]
#   df_pass_matrix.to_csv(URL_BASE_DRIVE+'pass_matrix__.csv')

In [543]:
print(len(df_matches_new))

64

In [544]:
# #ENVIO DE MAIL
# if(primera_vez == 'no'):
#   if(os.path.exists('/content/drive/MyDrive/CSV/BEPRO/mails.xlsx')):
#     df_mails = pd.read_excel('/content/drive/MyDrive/CSV/BEPRO/mails.xlsx')
#     df_mails = df_mails[df_mails['Estado']=='ACTIVO']

#   txtpartidos=''
#   if(len(df_matches_new)>0):
#     # print(len(df_matches_new))
#     for indice_fila, fila in df_matches_new.iterrows():
#       txtpartidos += fila['fecha']+ ': ' + fila['description_match'] + ' \n'


#     # print(txtpartidos)
#     if(len(df_mails)>0):
#         for indice_fila, fila in df_mails.iterrows():
#           # print(fila['Mail'])
#           time.sleep(2) # Sleep for 2 seconds

#           # print(fila['Mail'])
#           gmail_user = 'elmundialdelosdatos@gmail.com'
#           gmail_pwd = 'jdqtchlslhokdswv'
#           FROM = 'elmundialdelosdatos@gmail.com'
#           TO = fila['Mail']
#           # TO = 'ing.lucasbracamonte@gmail.com'

#           SUBJECT = 'Se descargaron ' + str(len(df_matches_new)) + ' partidos nuevos: '

#           textmessage = '\n' + fila['Nombre'] + ' la API a BePro Descargo nuevos partidos: \n\n'
#           textmessage += txtpartidos

#           # print(textmessage)
#           message = """From: %s\nTo: %s\nSubject: %s\n\n%s
#               """ % (FROM, ", ".join(TO), SUBJECT, textmessage)

#           try:
#             # SMTP_SSL Example
#             server_ssl = smtplib.SMTP_SSL("smtp.gmail.com", 465)
#             server_ssl.ehlo() # optional, called by login()
#             server_ssl.login(gmail_user, gmail_pwd)
#             # ssl server doesn't support or need tls, so don't call server_ssl.starttls()
#             server_ssl.sendmail(FROM, TO, message)
#             #server_ssl.quit()
#             server_ssl.close()
#             print('successfully sent the mail')
#           except:
#             print("failed to send mail")

In [545]:

# SUMAR LOS DATOS DEL XLS DE LA FIFA
# METER JOIN DE PARTIDOS Y DE JUGADORES
# MATRIZ DE PASES. O SEA TOMAR SI ES PASE SU EVENTO RELACIONADO Y CLAVARLE EL X E Y

In [546]:
get_time('end')

Este proceso finaliz贸 en 16:48:33